@import './reset';
@import './mixin.scss';
@import './variables.scss';

body{
  font-family: 'Roboto', sans-serif;}
  

// СТИЛИ ДЛЯ ХЕДЕРА

.container{
  max-width: 1170px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.header__list{
  text-align: center;

}
.header__list li{
  padding-right: 55px;
  margin-top: 16px;
  display: inline-block;

}
.header__link:hover{
  color: #57A4A4;

}
.header__link{
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 22px;
  list-style: none;
  color: #4E4E4E;
}
.header__img{
 margin-top: 51px;
 width: 100%;
}
// СТИЛИ ДЛЯ МЕЙН
.main__text{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
  margin-top: 66px;
  font-size: 16px;
  list-style: 22px;
}
.wrap__img{
  display: flex;
  flex-wrap: wrap;
}

.main__picture{
  width: 50%;
}
.main__img{
  padding-top: 32px;
  float: left;
}
.content__img{
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 30px;
  padding-top: 32px;
  margin-left: 170px;
}

.first__content{
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
  margin-left: 170px;

}
.second__content{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
  margin-left: 170px;
}


// СТИЛИ ДЛЯ ФУТЕРА
    .footer__wrap{
      width: 100%;
      height: 355px;
      background-color: black;
      margin-top: 49px;
    }
    .footer__text{
      padding-top: 66px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: white;
    }
    .footer__info{
      color: #B9B9B9;
      text-align: center;
    
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    padding-top: 22px;
    };
    .footer__img{
      padding-top: 37px;
      display: block;
      margin: 0 auto;
    }
    .footer__contact{
      color: #B9B9B9;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-top: 45px;
    }
    